/* BASIC STYLING */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 19px;
    margin-top: 20px;
}

h3 {
    font-size: 24px;
}

#content-wrapper {
    width: 720px;
    margin: 0 auto;
}

/* HERO  */
#hero-section {
    height: 350px;
    background-image: url("images/denver.png");
    background-size: cover;
    padding-top: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    background: #B30838;
    padding: 5px 12px;
    border-radius: 8px;
}

/* ACTIVITY SECTION */
#activity-section {
    height: 380px;
    background: #F8E5EE;
    color: #001427;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#activity-card-wrapper {
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.activity-card {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.activity-img {
    width: 100px;
    border-radius: 50%;
}

.activity-card-title {
    font-weight: 700;
}

/* GUIDE SECTION */

#guide-section {
    height: 400px;
    background: #708D81;
    color: #001427;
    display: flex;
    justify-content: center;
    align-items: center;
}

#guide-card {
    width: 450px;
    height: 300px;
    background: #F4D58D;
    padding: 13px;
    border: 3px solid #F8E5EE;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#guide-image {
    height: 230px;
    border-radius: 10px;
}

#guide-text {
    width: 40%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#guide-quote {
    font-style: italic;
}